<html>
<head>
  <title>Trainocate Training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="static/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  <style>.img, .col-lg-7 {margin-left: 17px;} td {padding: 8px;}</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="static/trainocate.png" height="40" alt="Trainocate">
  <div class="collapse navbar-collapse" id="navbarText" style="position: absolute; right: 10;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/furqonm/">My GitHub</a>
      </li>
    </ul>
  </div>
</nav>

<br/>
<h5 style="text-align:center;">
  Assalamu'alaikum, selamat datang dikelas {% block training %}{% endblock %}
</h5>

<div class="col-lg-10">
  <hr/>
  <h5>1. Registrasi sebelum kelas dimulai</h5>
</div>
<div class="row">
  <div class="col-lg-3">
    <p><img src="static/register.jpg" class="img rounded"/></p>
  </div>
  <div class="col-lg-7">
    <p>Mohon isikan informasi dengan nama dan email. Silahkan gunakan email pribadi atau kantor anda.</p>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfgwit6Vrij0TSza_y3dBLKRnexqurk6oUAmAWngeK-XDNl4Q/formResponse"
      target="_blank"
      id="bootstrapForm"
      method="POST">
      <fieldset>
        <table class="form-group">
          <tr>
            <td>Nama</td><td><input id="1221414608" placeholder="fulan" class="form-control" type="text" name="entry.1221414608" required /></td>
            <td>Email</td><td><input id="emailAddress" placeholder="fulan@gmail.com" class="form-control" type="email" name="emailAddress" required /></td>
          </tr>
        </table>
      </fieldset>
      <input type="hidden" name="fvv" value="1">
      <input type="hidden" name="fbzx" value="5085252414737489116">
      <input type="hidden" name="pageHistory" value="0">
      <input type="submit" value="Submit" class="btn btn-warning" role="button" aria-pressed="true" target="_blank">
    </form>
    Catatan:
    <ul>
      <li>Alamat email yang diisi adalah email yang dipakai untuk registrasi akun Amazon.com.</li>
      <li>Jika belum memiliki akun Amazon.com, maka silahkan daftarkan akun baru anda <a href="https://www.amazon.com/ap/register?openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%2F%3F_encoding%3DUTF8%26ref_%3Dnav_newcust&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=usflex&openid.mode=checkid_setup&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&" target="_blank">disini</a></li>
    </ul>
  </div>
</div>

<div class="col-lg-10">
  <hr/>
  <h5>2. Lab dan Ebook</h5>
</div>
<div class="row" >
  <div class="col-lg-3">
    <p><img src="static/lab.jpg" class="img rounded"/></p>
  </div>
  <div class="col-lg-7">
    <p>Akses AWS Builder Labs untuk mengakses ebook dan beberapa lab. Mohon tunggu beberapa saat karena kami membutuhkan waktu untuk mendaftarkan email anda kedalam sistem AWS</p>
    <p><a href="{% block link %}{% endblock %}" target="_blank" class="btn btn-warning" role="button" aria-pressed="true">Access AWS Builder Labs</a></p>
    Catatan:
    <ul>
      <li><b>Link AWS Builder Labs harap disimpan</b> atau dibookmark karena link tersebut akan diubah dengan kelas AWS lain yang kami adakan pada sesi berikutnya.</li>
      <li>Kelas AWS Cloud Practitioner Essential tidak memiliki lab, dimana voucher untuk akses ebook akan kami kirimkan via email.</li>
  </div>
</div>
</body>
</html>